<!DOCTYPE html>
<html>
<head>
  <title>ChoiqueMigrate</title>
  <%= stylesheet_link_tag    "choique_migrate/application", media: "all" %>
  <%= javascript_include_tag "choique_migrate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
